

    body{
        width: 100%;
        height: 100%;
        background-color: rgba(186, 145, 0, 0.47);
    }

    .main-container{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
    }

    .container1{
        width:33.33%;
        height: auto;
    }

    .container1 h1{
        font-size: 2.6vw;
        font-family: ALTERNATE GOTHIC;
        color:#b90022;
    }

    .container1 h3{
        font-size: 2.4vw;
        font-weight: bold;
    }

    .container1 p{
        font-size: 1.8vw;
        font-weight: 400;
        font-style: oblique;
    }

    .container1 h4{
        font-size: 1.2vw;
    }

    .offer{
        width: 100%;
    }

    .offer img{
        width:90%; 
        height: auto;
        padding-left: 5%;
    }

    

    .container2{
        display:flex;
        flex-direction: column;
        width:66.67%;
        height: auto;
        
    }

    .container2-1{
        width: 100%;
        height:auto;
    }

    .container2-1 img{
        width: 100%;
        height: 100%;
    }

    .bears{
        width: 90%;
        height: auto;
        border: 1px solid rgb(160, 47, 47);
    }

    .bears h1{
        font-size: 2.6vw;
        font-family: ALTERNATE GOTHIC;
        color:#b90022;

    }
    .bears p{
        margin: 02px;
        font-size: 1.8vw;
        font-weight: 400;
        font-style: oblique;
    }

    .container2-2{
        display: flex;
        flex-direction: row;
        width:100%;
        height:auto;      
    }

    .container2-2-1{
        width: 50%;
        height: auto;
    }

    .childContainer2-2-1{
        background-color: rgba(252, 252, 252, 0.6);
        width: 100%;
        height: auto;
        padding-left: 3%;
    }

    .childContainer2-2-1 h1{
        font-size: 2.6vw;
        font-family: ALTERNATE GOTHIC;
    }
    
    .childContainer2-2-1{
        font-size: 1.8vw;
        font-weight: 400;
        font-style: oblique;
    }

    .childContainer2-2-1 h4{
        font-size: 2vw;
        font-weight: bold;
    }

    .child2Container2-2-1{
        width:100%;
        background-color: rgba(252, 252, 252, 0.6);
        border-radius: 50%;
        height: auto;
        
    }

    .child-content{
        width: 100%;
        text-align: center;
        padding-top: 2px;
    }

    .child-content h4{
        color: red;
        font-size: 2vw;
    }

    .child-content p{
        font-weight: bolder;
        font-size: 1.8vw;
        font-style: italic;
        margin: 2px;    
    }



    .container2-2-2{
        width: 50%;
        height: auto;
        padding-left: 3%;
    }

    .container2-2-2 h1{
        font-size: 2.6vw;
        font-family: ALTERNATE GOTHIC;
        color:#b90022;
    }

    .container2-2-2 h5{
        font-size: 1.5vw;
    }

    .container2-2-2 h4{
        font-size: 2vw;
        font-weight: bold;
    }
    .container2-2-2 p{
        font-size: 1.8vw;
        font-weight: 400;
        font-style: oblique;
    }
    
    .container2-2-2 p1{
        float:right;
        font-size: 1.4vw;
    }

    .container2-3{
        width:100%;
        height:auto;
    }
    .container2-3 img{
        width: 100%;
        height: auto;
    }